blog/templates/blog/article_list.html

{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>MAN OF THE MATCH</title>
        <link rel ="stylesheet" href ="https://cdn.jsdelvr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMe4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"
        <link rel ="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <header>
            <h1><a href="/">MAN OF THE MATCH</a></h1>
        </header>

        <br><br>

        {% for article in articles %}
        <!--<br>-->
        <article>
            <h2><a href ="">{{ article.headline }}</a></h2>
            <h3>{{ article.reporter }}</h3>
            <time><strong><em>published:</em></strong> {{ article.pub_date }}</time>
            <i><strong><em><p>{{ article.content|linebreaksbr }}</p></em></strong></i>
        </article>
        <br>
        {% endfor %}        
            
    </body>
</html>